## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
from IPython.display import display
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file.
import csv
city_data_df = pd.read_csv("C:\\Users\\Owner\\World_Weather_Analysis\\weather_data\\weatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Coxim,BR,-18.5067,-54.7600,67.78,40,1,4.76,clear sky
1,1,Robertsport,LR,6.7533,-11.3686,77.65,83,66,8.12,light rain
2,2,Dhidhdhoo,MV,6.8833,73.1000,82.09,81,100,16.20,overcast clouds
3,3,Kapaa,US,22.0752,-159.3190,82.72,73,20,12.66,light rain
4,4,Boa Viagem,BR,-5.1275,-39.7322,69.06,68,1,1.95,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Robertsport,LR,6.7533,-11.3686,77.65,83,66,8.12,light rain
2,2,Dhidhdhoo,MV,6.8833,73.1000,82.09,81,100,16.20,overcast clouds
3,3,Kapaa,US,22.0752,-159.3190,82.72,73,20,12.66,light rain
5,5,Trairi,BR,-3.2778,-39.2689,78.24,78,63,12.03,broken clouds
9,9,Butaritari,KI,3.0707,172.7902,82.44,75,94,21.32,light rain
10,10,Pemangkat,ID,1.1667,108.9667,83.68,67,8,5.61,clear sky
11,11,Ayame,CI,5.6083,-3.1563,72.64,97,98,1.79,light rain
18,18,Oshawa,CA,43.9001,-78.8496,70.21,82,0,0.00,haze
25,25,Rikitea,PF,-23.1203,-134.9692,74.39,75,21,18.01,few clouds
29,29,Xining,CN,36.6167,101.7667,75.79,42,5,2.13,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Robertsport,LR,6.7533,-11.3686,77.65,83,66,8.12,light rain
2,2,Dhidhdhoo,MV,6.8833,73.1000,82.09,81,100,16.20,overcast clouds
3,3,Kapaa,US,22.0752,-159.3190,82.72,73,20,12.66,light rain
5,5,Trairi,BR,-3.2778,-39.2689,78.24,78,63,12.03,broken clouds
9,9,Butaritari,KI,3.0707,172.7902,82.44,75,94,21.32,light rain
10,10,Pemangkat,ID,1.1667,108.9667,83.68,67,8,5.61,clear sky
11,11,Ayame,CI,5.6083,-3.1563,72.64,97,98,1.79,light rain
18,18,Oshawa,CA,43.9001,-78.8496,70.21,82,0,0.00,haze
25,25,Rikitea,PF,-23.1203,-134.9692,74.39,75,21,18.01,few clouds
29,29,Xining,CN,36.6167,101.7667,75.79,42,5,2.13,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng","Current Description"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
1,Robertsport,LR,77.65,6.7533,-11.3686,light rain,
2,Dhidhdhoo,MV,82.09,6.8833,73.1000,overcast clouds,
3,Kapaa,US,82.72,22.0752,-159.3190,light rain,
5,Trairi,BR,78.24,-3.2778,-39.2689,broken clouds,
9,Butaritari,KI,82.44,3.0707,172.7902,light rain,
10,Pemangkat,ID,83.68,1.1667,108.9667,clear sky,
11,Ayame,CI,72.64,5.6083,-3.1563,light rain,
18,Oshawa,CA,70.21,43.9001,-78.8496,haze,
25,Rikitea,PF,74.39,-23.1203,-134.9692,few clouds,
29,Xining,CN,75.79,36.6167,101.7667,clear sky,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.   
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
1,Robertsport,LR,77.65,6.7533,-11.3686,light rain,Kwepunha Retreat
2,Dhidhdhoo,MV,82.09,6.8833,73.1000,overcast clouds,Dhidhoo beach
3,Kapaa,US,82.72,22.0752,-159.3190,light rain,Sheraton Kauai Coconut Beach Resort
5,Trairi,BR,78.24,-3.2778,-39.2689,broken clouds,janelas do mar
9,Butaritari,KI,82.44,3.0707,172.7902,light rain,Isles Sunset Lodge
10,Pemangkat,ID,83.68,1.1667,108.9667,clear sky,Ramah Kost KITA
11,Ayame,CI,72.64,5.6083,-3.1563,light rain,Hotel Bossan
18,Oshawa,CA,70.21,43.9001,-78.8496,haze,Comfort Inn
25,Rikitea,PF,74.39,-23.1203,-134.9692,few clouds,People ThankYou
29,Xining,CN,75.79,36.6167,101.7667,clear sky,Super Leisure Hotel

In [10]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df.dropna(inplace = True)
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
1,Robertsport,LR,77.65,6.7533,-11.3686,light rain,Kwepunha Retreat
2,Dhidhdhoo,MV,82.09,6.8833,73.1000,overcast clouds,Dhidhoo beach
3,Kapaa,US,82.72,22.0752,-159.3190,light rain,Sheraton Kauai Coconut Beach Resort
5,Trairi,BR,78.24,-3.2778,-39.2689,broken clouds,janelas do mar
9,Butaritari,KI,82.44,3.0707,172.7902,light rain,Isles Sunset Lodge
10,Pemangkat,ID,83.68,1.1667,108.9667,clear sky,Ramah Kost KITA
11,Ayame,CI,72.64,5.6083,-3.1563,light rain,Hotel Bossan
18,Oshawa,CA,70.21,43.9001,-78.8496,haze,Comfort Inn
25,Rikitea,PF,74.39,-23.1203,-134.9692,few clouds,People ThankYou
29,Xining,CN,75.79,36.6167,101.7667,clear sky,Super Leisure Hotel
31,Yellowknife,CA,72.12,62.4560,-114.3525,broken clouds,The Explorer Hotel
33,Atambua,ID,75.78,-9.1061,124.8925,overcast clouds,Kost Alfa Flat
34,Hilo,US,86.29,19.7297,-155.0900,clear sky,Hilo Hawaiian Hotel
35,Majene,ID,82.09,-3.5403,118.9707,scattered clouds,Kost Putri RABBANI
42,Aneho,TG,77.20,6.2333,1.6000,scattered clouds,Hotel La Linette
45,Arraial Do Cabo,BR,70.09,-22.9661,-42.0278,clear sky,Pousada Porto Praia
48,Georgetown,MY,85.93,5.4112,100.3354,few clouds,Cititel Penang
50,Rock Sound,BS,81.52,24.9000,-76.2000,scattered clouds,Pink Corral Bay Property
51,Vaini,TO,77.16,-21.2000,-175.2000,scattered clouds,Keleti Beach Resort
56,Avarua,CK,75.25,-21.2078,-159.7750,scattered clouds,Paradise Inn

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
locations

         Lat       Lng
1     6.7533  -11.3686
2     6.8833   73.1000
3    22.0752 -159.3190
5    -3.2778  -39.2689
9     3.0707  172.7902
..       ...       ...
693  -2.6741  141.3028
697  27.3167 -112.2833
700  40.5187  -78.3947
703  -0.6136  -47.3561
704 -12.4860  130.9833

[322 rows x 2 columns]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
display(fig)